<!-- app/templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Web-приложение анализа профессий{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">



</head>

<body>
    <header>
        <h1>Web-приложение анализа профессий</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'statistics' %}">Общая статистика</a></li>
            <li><a href="{% url 'demand' %}">Востребованность</a></li>
            <li><a href="{% url 'geography' %}">География</a></li>
            <li><a href="{% url 'skills' %}">Навыки</a></li>
            <li><a href="{% url 'last_vacancies' %}">Последние вакансии</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>ФИО: Патракеева Мария Андреевна</p>
        <p>Группа: РИ-230911</p>
    </footer>
</body>

</html>